@page
@model RoasterBuddy.Pages.Order.IndexModel

@{
    ViewData["Title"] = "All Orders";
}

<h1>All Orders</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Source.Farm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Source.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].RoastLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source.Farm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoastLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
